body {
    font-family: 'Montserrat', sans-serif;
}

.caixa{
	position: relative;
    width: 940px;
    margin: 0 auto;
}
footer {
    text-align: center;
    font-size: 13px;
    padding: 40px 0;
    color:  #00FFFF;
}

.copyright {
    color: #FFFFF0;
    font-size: 13px;
    margin: 20px 0 0;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}




.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: #4B0082;
}

.principal p {
    margin: 0 0 1em;
    text-align: center;
    color: #000000;
}

.principal strong {
    font-weight: bold;
    text-align: center;
}

.principal em {
    font-style: italic;
    text-align: center;
}


.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 880px;
    margin: 0 auto;
}

.footer{
    position: relative;
    width: 700px;
}